.art{
    
    
    color:purple;
    font-size:20px;
    background-color: lightcoral;
    font-family: "Times New Roman", Times, serif;
}
.head{
   
    font-size:20px;
   
    font-family: "Times New Roman", Times, serif;
}
.bod{
    font-size:15px;
    font-family: "Times New Roman", Times, serif;
}
.que{
    color:blue
    font-size:15px;
}